.ninety-percent{
  width: 90%;
}

.padding {
  padding: 10px;
}

.margin-one{
  margin-left: 2.3%;
}

.border {
  border: solid 1px #E67E22;
}
.no-margin-bot{
  margin-bottom: 0px;
}

.badge {
  margin-left: 10px;
}

.subheader {
  text-decoration: none;
  color: black;
}

.dropdown-list {
  box-shadow: none;
  border: none;
}

.edit-btn {
  margin-bottom: 30px;
}

.list-group-item {
  .list-link {
    display: inline;
    padding: 0px;
    margin-left: 10px;
  }
  .color {
    color: blue;
  }
}

.form-btn {
  width: 100%;
}

.nav-alignment {
  padding: 0px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  .main {
    width: 75%;
  }
  .aside {
    float: right;
  }
}

.photo-bitch {
  display: flex;
}

.bitch {
  margin-top: 10px;
  border: 1px solid blue;
}

.bitch-btn {
  width: 200%;
  margin-top: -10px;
  flex: 1;
}

.float-right {
  float:right;
}

.inline {
  display: inline;
}

.float-left {
  float:left;
}


@media (max-width: 1050px) {
  .flex {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
  }

.mobile-hide {
  display:none;
  overflow: hidden;
}

.border {
  border: none;
}
}
